/* Styles for Mobile devices */
.container {
  max-width: 375px;

  margin-left: auto;
  margin-right: auto;

  padding-left: 20px;
  padding-right: 20px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* Styles for Desktop devices */
/* max-width: 1128px - because it shares space with sidebar */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1128px; 
    padding-left: 64px;
    padding-right: 64px;
  }
}
