.greeting {
  padding: 0px 0 0 12px;
  width: 100%;
  max-width: 335px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .greeting {
    max-width: 704px;
    padding: 0px;
  }
}

@media (min-width: 1440px) {
  .greeting {
    max-width: none;
    /* padding-left: 32px;  або який треба? */
  }
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: var(--foreground);
}
