.breadcrumbs {
  padding: 24px 32px 16px 12px;
}
.list {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}
.item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  text-align: center;
}
.current {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  text-align: center;
  color: #7f7f7f;
}
@media (min-width: 768px) {
  .breadcrumbs {
    padding: 24px 32px 16px 0px;
  }
}
