.wrapper {
  width: 100%;
}

.content {
  width: 100%;
  min-width: 0;
}

@media screen and (min-width: 1440px) {
  .wrapper {
    display: flex;
    align-items: flex-start;
  }

  .content {
    flex: 1;
    width: auto;
    min-width: 0;
  }
}
